/* GENERAL */

*
{
    margin-left: 0;
    padding: 0;
}
body 
{
    font-family: Arial,sans-serif;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

h1 
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
}
h2
{
    font-size: 20px;
    font-weight: bold;
}
h3
{
    font-size: 20px;
    font-weight: bold;
}
h4
{
    font-size: 13px;
    font-style:italic;
    overflow: hidden;
    text-align: justify; 
}

p
{
    line-height: 20px;
    color: #777;
}
ul
{
    list-style: none;
}
.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

/* HEADER */

header 
{
    height: 120px;   
}

header div img
{
    height: 100px;
    margin-top: 10px;
}

header h1
{
    float: left;
    margin-top: 32px;
}
header nav
{
    float: right;   
    margin-top: 50px;
}
header nav ul li
{
    float:left;
    display: inline-block;
}
header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

/* ACCUEIL */

#main-image
{
    height: 580px;
    background: url('../images/main-image.jpg') center;
}

#main-image h2
{
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

/* contenu */



/* FOOTER */

footer
{
    background-color: #1e1e5a;
    margin-top: 30px;
}

.texte
{
    color:white;
}

.grand-titre
{
    color:white;
}

.p3
{
    padding-left:8%;
}

.PR
{
    display:inline-flex;
}

table
{
    margin-left:-20%;
    margin-right: 20%;
    margin-top:1%;
}

td a img
{
    border-radius: 10px;
}
.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    color: #777;
}

