/* GENERAL */
@font-face {
    font-family: 'Barkentina';
    src: url('Barkentina 1.otf') format('truetype');
}

*
{
    margin: 0;
    padding: 0;
}
body 
{
    font-family: Arial,sans-serif;
    font-size: 15px;
    overflow-x:hidden;
}

@media screen and (max-width:991px)
{
    .navigation
    {
        display:inline;
        justify-content:center;
        text-align:center;
        padding-bottom:5%;
    }

    .rechercher
    {
        display:flex;
        justify-content:center;
        text-align:center;
        padding-bottom:5%;
    }

    .boutonE
    {
        margin-top:4%;
        margin-left:14%;
        margin-bottom:3%;
    }

    #img_tete
    {
        width:30%;
    }

    .titre
    {
        margin-top:35%;
    }
}

@media screen and (max-width:740px)
{
    .titre
    {
        margin-top:45%;
    }
    .boutonE
    {
        margin-top:4%;
        margin-left:12%;
        margin-bottom:3%;
    }
    h1
    {
        white-space:normal;
    }
}

@media screen and (max-width:570px)
{
    .content
    {
        margin-left:5%;
    }

    .titre{
        margin-top:50%;
    }

}

@media screen and (max-width:430px)
{
    .titre
    {
        margin-top:60%;
    }
    .titre h1
    {
        font-size:28px;
    }
}

@media screen and (max-width:345px)
{
    .boutonE
    {
        margin-top:6%;
        margin-left:8%;
        margin-bottom:3%;
    }
}

h1 
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
}
h2
{
    font-size: 20px;
    font-weight: bold;
}
h3
{
    font-size: 20px;
    font-weight: bold;
}
h4
{
    font-size: 13px;
    font-style:italic;
    overflow: hidden;
    text-align: justify;
    
}

h5
{
    font-size: 15px;
}

h6
{
    font-size: 15px;
}

p
{
    line-height: 20px;
    color: #777;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: #444;
}

.orange
{
    color: #ff7a00;
}
.clear
{
    clear: both;   
}
small
{
    font-size: 13px;
    font-style:italic;
}

/* HEADER */
#img_tete
{
    padding : 3%;
}

#menu
{
    font-weight:bold;
    color:white;
    text-decoration: none;
    font-size : 20px;
    font-family: 'Barkentina', sans-serif;
}
#menu:hover
{
    text-decoration:none;
}

.site-header
{
    position: absolute;
    width: 100%;
    background: linear-gradient(to top, rgba(30,30,90,.3), rgba(30,30,90,.5)), url("https://source.unsplash.com/user/erondu/1600x900");
}

#titre
{
    color:white;
}

form.recherche input, form.recherche .btn {border:none;}

#fonctionR
{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100%;
    padding-left:6%;
    margin-top:10%;
}

#fonctionR:focus
{
    outline:none;
}

.button-R
{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: -70%;
    margin-top:50%;
    width:200%;
    height:100%;
    padding-left:0;
}

label
{
    padding-right:6%;
}

.prenomC
{
    margin-bottom:2%;
    margin-right:48.5%;
    margin-left:-8%;
}
.nomC
{
    margin-bottom:2%;
    margin-right:48.5%;
    margin-left:-8%;
}
.mail
{
    margin-bottom:4%;
    margin-right:48.5%;
    margin-left:-8%;
}
.message
{
    margin-right:40%;
    margin-left:-25%;
}

@media screen and (min-width:992px)
{
    .boutonE
    {
        margin-top:4%;
        margin-left:16%;
        margin-bottom:3%;
    }
}


.erreur
{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom:0.5%;
}

.conditions
{
    margin-top:5%;
    margin-right:48.5%;
    margin-left:-8%;
}

.check
{
    margin-bottom:4%;
    margin-left:19%;
}

.formulaire
{
    margin-left:35%;
}

/* ACCUEIL */

#contacts
{
    padding-top:8%;
    padding-bottom:4%;
    text-align:center;
}

/* FOOTER */

footer
{
    background-color: #1e1e5a;
    margin-top: 30px;
}

.texte
{
    color:white;
}

.grand-titre
{
    color:white;
}

.p3
{
    padding-left:8%;
}

.PR
{
    display:inline-flex;
}

table
{
    margin-right: 20%;
    margin-top:1%;
    border-collapse: separate;
    border-spacing: 5px;
}

td a img
{
    border-radius: 10px;
}
.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    color: #777;
}
		