/* GENERAL */

*
{
    margin-left: 0;
    padding: 0;
}
body 
{
    font-family: Arial,sans-serif;
    font-size: 15px;
}

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.ttf') format('truetype');
}

@media screen and (max-width:991px)
{
    .navigation
    {
         display:inline;
         justify-content:center;
         text-align:center;
    }

    .rechercher
    {
         display:flex;
         justify-content:center;
         text-align:center;
         padding-bottom:5%;
    }

    #img_tete
    {
         width:30%;
    }

    #titre
    {
         margin-top:20%;
    }
}

@media screen and (max-width:740px)
{
#titre
{
    margin-top:30%;
}
h1
{
    white-space:normal;
}
}

@media screen and (max-width:570px)
{
.content
{
    margin-left:5%;
}

}

@media screen and (max-width:430px)
{
#titre
{
    margin-top:40%;
}
#titre h1
{
    font-size:28px;
}
}

@media screen and (max-width:345px)
{
#titre
{
    margin-top:48%;
}
.plus
{
    margin-left:10%;
}
}


h1 
{
    font-family: 'OpenSans', sans-serif;
    font-size: 45px;
}
h2
{
    font-size: 20px;
    font-weight: bold;
}
h3
{
    padding-top:2%;
    font-size: 20px;
    font-weight: bold;
}
h4
{
    font-size: 13px;
    font-style:italic;
    overflow: hidden;
    text-align: justify;
    
}


p
{
    line-height: 20px;
    color: #777;
    text-align:justify;
}
ul
{
    list-style: none;
    width:100%;
}
a{
    text-decoration: none;
    color: #444;
}

li
{
    margin:5%;
}

/* HEADER */
#img_tete
{
    padding : 3%;
}

#menu
{
    font-weight:bold;
    color:white;
    text-decoration: none;
    font-size : 20px;
    font-family: 'Barkentina', sans-serif;
}
#menu:hover
{
    text-decoration:none;
}

.site-header
{
    position: absolute;
    width: 100%;
}

#hero-banner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 18%;
    padding-bottom: 10%;
    background: linear-gradient(to top, rgba(30,30,90,.3), rgba(30,30,90,.5)), url("https://source.unsplash.com/user/erondu/1600x900") no-repeat;
}

#titre
{
    display:flex;
    justify-content:center;
    text-align:center;
    color:white;
    font-weight: bold;
    margin-left:18.5%;
}

form.recherche input, form.recherche .btn {border:none;}

#fonctionR
{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 95%;
    padding-left:6%;
    margin-top:11%;
}

#fonctionR:focus
{
    outline:none;
}

.button-R
{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top:54%;
    width:200%;
    height:97%;
    padding-left:0;
}

/* ACCUEIL */

#buttonLien
{
    color: #fff;
    background-color:#007bff;
    padding: 6px 15px;
    border-radius: 5px;
    float: right;
}

#buttonLien:hover
{
    color: black;
    background-color: white;
    border-radius: 5px;
}

/* PROGRAMME */
#programme
{
    min-height:80%;
}

.txt
{
    max-width:70%;
}

#video
{
    width: 500px;
    margin-bottom: 20px;
    margin-left: 90px;
    margin-top: 15px;
}

.desc, .prerequis, .public, .commentaires
{
    margin-top:15px;
}

.desc p
{
    padding-left:2%;
    padding-top:2%;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px 10px 0 5px;
}

#lateral
{
    margin-left:5%;
}

.contenu p
{
    padding-left:2%;
    padding-top:2%;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px 10px 0 5px;
}

.prerequis p
{
    padding-left:2%;
    padding-top:2%;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px 10px 0 5px;
}

.public p
{
    padding-left:2%;
    padding-top:2%;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px 10px 0 5px;
}

#lateral 
{
    float: right;
    margin-top: 15px;
    padding-bottom:12%;
    padding-right:8%;
}

.commentaires p
{
    padding-left:2%;
    padding-top:2%;
    width: 100%;
    border-radius: 5px 10px 0 5px;
}


.trait_dessus
{
    color:gray;
    width:100%;
}

.boutonC
{
    text-decoration : underline;
    border:none;
    background-color: white;
}
.boutonC:hover
{
    color:blue;
}

/* FOOTER */

footer
{
    background-color: #1e1e5a;
    margin-top: 30px;
}

.texte
{
   color:white;
}

.grand-titre
{
    color:white;
}

.p3
{
    padding-left:8%;
}

.PR
{
    display:inline-flex;
}

table
{
    margin-right: 20%;
    margin-top:1%;
    border-collapse: separate;
    border-spacing: 5px;
}

td a img
{
    border-radius: 10px;
}
.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    color: #777;
}
		