/* GENERAL */

@font-face {
    font-family: 'Barkentina';
    src: url('Barkentina 1.otf') format('truetype');
}

*
{
    margin-left: 0;
    padding: 0;
}
body 
{
    font-family: Arial,sans-serif;
    font-size: 15px;
    background-color:lightgrey;
}

@media screen and (max-width:991px)
{
    .navigation
    {
         display:inline;
         justify-content:center;
         text-align:center;
    }

    .rechercher
    {
         display:flex;
         justify-content:center;
         text-align:center;
         padding-bottom:5%;
    }

    #img_tete
    {
         width:30%;
    }

    #titre
    {
         margin-top:20%;
    }
}

@media screen and (max-width:740px)
{
#titre
{
    margin-top:30%;
}
h1
{
    white-space:normal;
}
}

@media screen and (max-width:570px)
{
.content
{
    margin-left:5%;
}

}

@media screen and (max-width:430px)
{
#titre
{
    margin-top:40%;
}
#titre h1
{
    font-size:28px;
}
}

@media screen and (max-width:345px)
{
#titre
{
    margin-top:48%;
}
}

h1 
{
    font-family: 'Crete Round', serif;
    font-size: 40px;
}
h2
{
    font-size: 20px;
    font-weight: bold;
}
h3
{
    font-size: 20px;
    font-weight: bold;
}
h4
{
    font-size: 13px;
    overflow: hidden;
    text-align: justify; 
}
h5
{
    color:black;
}

ul
{
    list-style: none;
}

label
{
    color:black;
    font-weight:normal;
}

a
{
    text-decoration: none;
}

p
{
    line-heigth:20%;
}

b
{
   text-align:justify;
}

/* HEADER */

#img_tete
{
    padding : 3%;
}

#menu
{
    font-weight:bold;
    color:white;
    text-decoration: none;
    font-size : 20px;
    font-family: 'Barkentina', sans-serif;
}
#menu:hover
{
    text-decoration:none;
}

.site-header
{
    position: absolute;
    width: 100%;
}

#hero-banner
{
    display: flex;
    flex-direction: column;
    padding-top:15%;
    padding-bottom: 6%;
    background: linear-gradient(to top, rgba(30,30,90,.3), rgba(30,30,90,.5)), url("https://source.unsplash.com/user/erondu/1600x900") no-repeat;
}

#titre
{
    color:white;
    font-weight: bold;
}

form.recherche input, form.recherche .btn {border:none;}

#fonctionR
{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100%;
    padding-left:6%;
    margin-top:10%;
}

#fonctionR:focus
{
    outline:none;
}

.button-R
{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: -70%;
    margin-top:50%;
    width:200%;
    height:100%;
    padding-left:0;
}

.boutonC
{
    text-decoration : underline;
    border:none;
    background-color: white;
}
.boutonC:hover
{
    color:blue;
}

/* ACCUEIL */


.introduction
{
    padding-top:15%;
}

.r1
{
    display:flex;
    justify-content: center;
    text-align:center;
    padding-bottom:5%;
}
.r2,.r3
{
    padding-bottom:5%;
    display:flex;
    justify-content: center;
    text-align:center;
}
.r4
{
    display:flex;
    justify-content: center;
}

.form-group
{
    text-align:left;
}
.button-V
{
    width:20%;
    height:50%;
    background : #007bff;
}

/*********************************/
/** Mise en place de la fresque **/
/*********************************/
.partie1
{
    margin-top:2%;
}
.partie2
{
    margin-top:2%;
    margin-bottom:2%;
}
.partie3
 {
    margin-top:2%;
    padding-bottom: 5%;
    visibilty:hidden;
 }

.fresque {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    color: #fff;
}

.av
{
    background : url("../images/mockup treco.jpg") no-repeat;
    background-size:100%;
    background-position : 25% 50%;
    background-color:white;
}

.txt
{
    margin-left:20%;
    padding-top:20%;
    width:50%;
    color:black;
}
.avantages
{
    width:100%;
    height:110%;
    padding-bottom:5%;
}

.av_titre
{
    padding:3%;
    color:black;
}

.av_1
{
    margin-top:-17%;
    color:black;
}

.av_2,.av_3
{
    margin-top:-12%;
}

.prct
{
    text-indent:1em;
}

.button-V2
{
    margin-top:20%;
    width:30%;
    height:15%;
    background : #007bff;
    margin-left:30%;
}
.tarif
{
    background-color:white;
    padding-bottom:3%;
}
.img_tarif
{
    padding:3%;
}
.texte_tarif
{
    padding-top:5%;
    padding-left:5%;
    color:black;
}

/* FOOTER */

footer
{
    background-color: #1e1e5a;
    margin-top: 30px;
}

.texte
{
   color:white;
}

.grand-titre
{
    color:white;
}

.p3
{
    padding-left:8%;
}

.PR
{
    display:inline-flex;
}

table
{
    margin-right: 20%;
    margin-top:1%;
    border-collapse: separate;
    border-spacing: 5px;
}

td a img
{
    border-radius: 10px;
}
.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    color: #777;
}


:root {
	--white: #ffffff;
	--black: #000000;
	--blue:#0288d1;
	--gray:#ebebeb;
	--box-shadow1:0px 0px 18px 2px rgba(10, 55, 90, 0.15);
}
body{
	font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #637280;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
:focus{
    outline: 0px solid transparent !important;
}
.timeline {
    padding: 50px 0;
    position: relative;
}
.timeline-nodes {
        padding-bottom: 25px;
        position: relative;
    }
.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}
.timeline h3, .timeline p {
    padding: 5px 15px;
} 
.timeline h3{
    font-weight: lighter;
    background: var(--blue);
}
.timeline p, .timeline time {
    color: var(--blue)
}
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-content {
    border: 1px solid var(--blue);
    background:white;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2)
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}
 
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 100%;
    width: 0;
    border-left: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-image {
    position: relative;
    z-index: 100;
}
.timeline-image::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px dashed var(--blue);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 1;
    

}
.timeline-image img {
    position: relative;
    z-index: 100;
}
/*small device style*/

@media (max-width: 767px) {
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
    text-align: left
}
.timeline-nodes:nth-child(even) {
    flex-direction: row;
}
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline h3 {
    font-size: 1.7rem;
}
.timeline p {
    font-size: 14px;
}
.timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
    /*transform: translateX(-50%;);*/
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
}
.timeline-image::before {
    width: 65px;
    height: 65px;
}
}

/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
}
.timeline-image {
    position: absolute;
    left: -5%;
    }
.timeline-image::before {
    width: 60px;
    height: 60px;
    background-color: #0288d1;
}
}




			