/* GENERAL*/

@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.ttf') format('truetype');
}

*
{
    margin-left: 0;
    padding: 0;
}

@media screen and (max-width:991px)
{
    .navigation
    {
         display:inline;
         justify-content:center;
         text-align:center;
    }

    .title
    {
         padding-top:10%;
    }
}

@media screen and (max-width:740px)
{
.title
{
    padding-top:15%;
    white-space:normal;
}
h1
{
    white-space:normal;
}
}

@media screen and (max-width:430px)
{
.title
{
    padding-top:25%;
    white-space:normal;
}
.title h1
{
    font-size:28px;
}
}

@media screen and (max-width:345px)
{
.title
{
    padding-top:45%;
    white-space:normal;
}
}


h1
{
    display:flex;
    font-family: 'OpenSans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
h2
{
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}
h3
{
    font-size: 20px;
    font-weight: bold;
    margin-top:2%;
    white-space: wrap;
}
h4
{
    font-size: 13px;
    font-style:italic;
    overflow: hidden;
    text-align: justify; 
}


img
{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*HEADER*/
#img_tete
{
    padding : 3%;
}

#menu
{
    font-weight:bold;
    color:white;
    text-decoration: none;
    font-size : 20px;
    font-family: 'OpenSans', sans-serif;
}
#menu:hover
{
    text-decoration:none;
}

.site-header
{
    position: absolute;
    width: 100%;
}

#enseigne
{
    padding-left: 1%;
}

#titre
{
    display:flex;
    justify-content:center;
    color:white;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-align:center;
}

.title
{
    display:flex;
    text-align:center;
    justify-content: center;
    color:white;
}

#recherche
{
    padding-bottom : 5%;
    text-align:center;
}
/*

 ACCUEIL*/

#hero-banner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 18%;
    padding-bottom: 10%;
    background: linear-gradient(to top, rgba(30,30,90,.3), rgba(30,30,90,.5)), url("https://source.unsplash.com/user/erondu/1600x900") no-repeat;
    margin-bottom:2%;
}

form.recherche input, form.recherche .btn {padding:1em; border:none;}

#fonctionR
{
    margin: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width : 100%;
    padding-right:0;
}

#fonctionR:focus
{
    outline:none;
}

.button-R
{
    margin: 0 ;
    width:100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left:0;
}

#fond
{
    background-color: #1e1e5a;
}
/*

 CONTENU*/

.formation{
    min-width:250px;
    max-width:250px;
    height: 260px;
    border-radius: 10px;
    margin-left : 2%;
    margin-top:2%;
    margin-bottom:2%;
    box-shadow: 0 0 55px 0 #cccccc;
    transition: all 1s ease;
    overflow: hidden;
}

.formation h3
{
    text-align :center;
}

.formation p
{
    padding-left : 10px;
    padding-right: 10px;
    white-space: initial;
    text-overflow: ellipsis;
}
.formation:hover
{
    cursor: pointer;
    transform:scale(1.05);
}


/* FOOTER*/

footer
{
    background-color: #1e1e5a;
    margin-top: 30px;
}

.texte
{
   color:white;
}

.grand-titre
{
    color:white;
}

.p3
{
    padding-left:8%;
}

.PR
{
    display:inline-flex;
}

table
{
    margin-right: 20%;
    margin-top:1%;
    border-collapse: separate;
    border-spacing: 5px;
}

td a img
{
    border-radius: 10px;
}
.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    color: #777;
}

