/* GENERAL */
@font-face {
    font-family: 'Barkentina';
    src: url('Barkentina 1.otf') format('truetype');
}

@media screen and (max-width:991px)
{
    .navigation
    {
        display:inline;
        justify-content:center;
        text-align:center;
    }

    .colonne
    {
        min-height:58vh;
    }

    .rechercher
    {
        display:flex;
        justify-content:center;
        text-align:center;
        padding-bottom:5%;
    }

    .ct
    {
        padding-top:30%;
    }

    .button-2
    {
        margin:20%;
    }

    #img_tete
    {
        width:30%;
    }

    #titre
    {
        margin-top:20%;
    }
}

@media screen and (max-width:740px)
{
    .ct
    {
        padding-top:40%;
    }

    .filtre
    {
        display:inline-flex;
        width:100%;
    }

    .mod
    {
        padding-right:30%;
        margin-left:-275%;
    }

    .price, .time
    {
        padding-left: 50%;
    }

    ul{
        padding-left:5%;
    }

    .chk
    {
        white-space:nowrap;
    }

    h5
    {
        text-align: center;
        justify-content: center;
        white-space:normal;
    }
}

@media screen and (max-width:570px)
{
    .ct
    {
        padding-top:45%;
    }

    .filtre
    {
        margin-left:-50%;
        display:inline-flex;
        flex-direction: column;
    }

    .mod
    {
        margin:0;
    }

    .price, .time
    {
        padding-left:0;
    }

}

@media screen and (max-width:430px)
{
    .ct
    {
        padding-top:55%;
    }
    span{
        display:none;
        visibility: hidden;
    }

}

@media screen and (max-width:345px)
{
    #titre
    {
        margin-top:48%;
    }
}

@media screen and (min-width:992px)
{
    .button-2
    {
        margin:31%;
    }
}

h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
    white-space:nowrap;
}
h2
{
    font-size: 20px;
    font-weight: bold;
    text-align:center;
}
h3
{
    font-size: 20px;
    font-weight: bold;
}
h4
{
    font-size: 13px;
    font-style:italic;
    overflow: hidden;
    text-align: justify;
}

h5
{
    font-size: 15px;
}

h6
{
    font-size: 15px;
}

p
{
    line-height: 20px;
    color: #777;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: #444;
}

/* HEADER */

header
{
    margin-top:-7%;
}

/* ACCUEIL */

#img_tete
{
    padding : 3%;
}

#menu
{
    font-weight:bold;
    color:white;
    text-decoration: none;
    font-size : 20px;
    font-family: 'Barkentina', sans-serif;
}
#menu:hover
{
    text-decoration:none;
}

.site-header
{
    position: absolute;
    width: 100%;
    background: linear-gradient(to top, rgba(30,30,90,.3), rgba(30,30,90,.5)), url("https://source.unsplash.com/user/erondu/1600x900") no-repeat;
}

#titre
{
    color:white;
}

form.recherche input, form.recherche .btn {border:none;}

/* RECHERCHE */

#fonctionR
{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width : 20vw;
    height: 80%;
    padding-left:4%;
    margin-top:10%;
}

#fonctionR:focus
{
    outline:none;
}

.button-R
{
    margin-left: -58%;
    margin-top:50%;
    width: 3vw;
    height: 80%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left:0;
}

.button-2
{
    color: #fff;
    background-color:#1e1e5a;
    padding: 6px 15px;
    border-radius: 5px;
}

.button-2:hover
{
    border-radius: 5px;
    cursor: pointer;
    background-color: #0131B4;
}

#recherche
{
    margin-top:2%;
    margin-left:10%;
    width : 100%;
    display: flex;
}

.colonne
{
    margin-left:12%;
    min-height:59.4vh;
}

.li
{
    color: white;
    padding-top:2%;
    margin-left:20%;
    padding-bottom:3%;
}

.article
{
    border-radius: 20px;
    box-shadow: 0 0 20px 0 gray;
    margin-bottom:1%;
    margin-top:1%;
    transition: all 200ms ease;
}

.article:hover
{
    cursor: pointer;
    transform:scale(1.01);
    box-shadow: 0 0 60px 0 rgba(30,30,90,.4);
}

.btn-2
{
}

.desc
{
    padding : 3%;
    max-height: 16.2vh;
    overflow:hidden;
}

.title
{
    padding-left:15%;
    padding-right: -10%;
}

.photo
{
    border-top-left-radius: 20px;
}

.overlay
{
    padding-top:2%;
    background : linear-gradient(to bottom, rgba(255,255,255,1),rgba(30,30,90,.8));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.overflow-ellipsis h4
{
    text-overflow: ellipsis;
}

.overflow-visible
{
    white-space: initial;
}

/* filtre */

.content
{
    margin-top:7%;
}
#filtre {
    position: fixed;
    left: 0.5%;
    width: 12%;
    padding-top: 1.5%;
    padding-left: 1%;
    margin-right: 5%;
    margin-bottom: 10%;
    background-color: white;
}

#trait_dessus
{
    border-top: 1px solid gray;
}

/* FOOTER */

footer
{
    background-color: #1e1e5a;
    margin-top: 30px;
    width:100%;
}

.texte
{
    color:white;
}

.grand-titre
{
    color:white;
}

.p3
{
    padding-left:8%;
}

.PR
{
    display:inline-flex;
}

table
{
    margin-right: 20%;
    margin-top:1%;
    border-collapse: separate;
    border-spacing: 5px;
}

td a img
{
    border-radius: 10px;
}
.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    color: #777;
}